<!-- edit.ejs | A form that is used to edit entries in the mongodb database.  -->
<h1 class="display-4">Update URL</h1>
<form data-toggle="validator" method="post" action="/entries/update/<%= entry.id %>">
  <div class="form-group">
    <label for="title">title</label>
    <input type="text" name="title" class="form-control" value="<%= entry.title %>" required>
  </div>
  <div class="form-group">
    <label for="category">category</label>
    <input type="text" name="category" class="form-control" value="<%= entry.category %>" required>
  </div>
  <div class="form-group">
    <label for="date">date</label>
    <input id="date" type="date" name="date" class="form-control" value="<%= entry.date %>" required>
  </div>
  <div class="form-group">
    <label for="url">url</label>
    <input type="text" name="url" class="form-control" value="<%= entry.url %>" required>
  </div>
  <button type="button" value="Cancel" class="btn btn-secondary" onclick="window.location.href='/entries/list'">Cancel</button>
  <input type="submit" value="Update" class="btn btn-secondary">
  <a href="/entries/delete/<%= entry.id %>" class="btn btn-danger" style="float: right;">Delete</a>
</form>
