<h3>URL's</h3>
<table class="table table-hover table-sm">
  <thead class="thead-dark">
    <tr>
      <!-- <th>#</th> -->
      <th align="center" class="w-50">title</th>
      <th align="center" class="w-30">category</th>
      <th align="center" class="w-20">date</th>
      <th align="center" class="w-50">URL</th>
      <th></th>
    </tr>
  </tread>
  <tbody>
    <% entries.forEach(function(entry) { %>
      <tr>
        <!-- <td> <%= entry.id %> </td> -->
        <td><strong><%= entry.title %></strong></td>
        <td><%= entry.category %></td>
        <td><%= entry.date %></td>
        <td><em><%= entry.url %></em></td>
        <td>
          <a href="/entries/edit/<%= entry.id %>" class="btn btn-secondary">Edit</a>
          <form class="d-inline" action="/entries/delete/<%= entry.id %>" method="post">
            <input type="submit" value="Delete" class="btn btn-secondary">
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
