<h3>URL's</h3>
<div class="container">
<table class="table table-striped table-hover table-responsive table-sm" style="width: 100%">
  <thead class="thead">
    <tr>
      <!-- <th>#</th> -->
      <th align="center" >title</th>
      <th align="center" >category</th>
      <th align="center" >date</th>
      <th align="center" >URL</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% entries.forEach(function(entry) { %>
      <tr>
        <!-- <td> <%= entry.id %> </td> -->
        <td><strong><%= entry.title %></strong></td>
        <td><%= entry.category %></td>
        <td><%= entry.date %></td>
        <td><em><%= entry.url %></em></td>
        <td> <a href="/entries/edit/<%= entry.id %>" class="btn btn-secondary">Update</a> </td>
        <td> <a href="/entries/delete/<%= entry.id %>" class="btn btn-secondary">Delete</a> </td>
        <!--  <form class="d-inline" action="/entries/delete/<%= entry.id %>" method="5post"> -->
        <!--    <input type="submit" value="Delete" class="btn btn-secondary"> -->
        <!--  </form> -->
        <!--  </td> -->
      </tr>
    <% }) %>
  </tbody>
</table>
</div>
