<h3>URL's</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <!-- <th>#</th> -->
      <th>title</th>
      <th>category</th>
      <th>date</th>
      <th>URL</th>
      <th></th>
    </tr>
  </tread>
  <tbody>
    <% entries.forEach(function(entry) { %>
      <tr>
        <!-- <td> <%= entry.id %> </td> -->
        <td> <%= entry.title %> </td>
        <td> <%= entry.category %> </td>
        <td> <%= entry.date %> </td>
        <td> <%= entry.url %> </td>
        <td>
          <a href="/entries/edit/<%= entry.id %>" class="btn btn-primary">Edit</a>
          <form class="d-inline" action="/entries/delete/<%= entry.id %>" method="post">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    <% }) %>
  </tbody>
</table>
