<div class="docContainer">
    <center><h2 class="display-4">Archive</h2></center>
    <!-- <p style="display: inline">&nbsp;&nbsp; <b>user:</b> <%= User.email %> </p> -->
    <input type="text" class="form-control search" id="search" placeholder="Type to search">
    <input type="button" value="Add URL" class="btn btn-secondary" id="addButton" onclick="window.location.href='/entries/add'">
</div>
<br></br>
<div class="scrollable">
    <table class="table table-hover table-sm" id="dataTable">
        <thead class="thead">
            <tr>
                <th width="200px" align="center" >title</th>
                <th width="200px" align="center" >category</th>
                <th width="150px" align="center" >date</th>
                <th width="150px" align="center" >URL</th>
                <th width="100px" ></th>
            </tr>
        </thead>
        <tbody>
            <% entries.forEach(function(entry) { %>
                <tr>
                    <td width="200px"><div><strong><%= entry.title %></strong></div></td>
                    <td width="200px"><div><%= entry.category %></div></td>
                    <td width="150px"><div><%= entry.date %></div></td>
                    <td width="150px"><div><em><a href="<%= entry.url %>" target="_blank">URL Link</a></em></div></td>
                    <td width="100px"><div><a href="/entries/edit/<%= entry.id %>" class="btn btn-secondary">Update</a></div></td>
                </tr>
            <% }) %>
        </tbody>
    </table>
</div>
